@import "tailwindcss";

body {
  font-family: var(--font-GratoGrotesk), sans-serif;
}
@theme {
  --color-orange: #FF4C00;
  --color-blue: #00E4F0;
  --color-pink:#B38BCE;
  --color-gray: #B0B0B0;
}

.main-container {
  @apply px-4 md:px-9;
}
.custom-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-blue) !important;
  border: 1px solid var(--color-blue);
  opacity: 1;
  transform: scale(1.2);
}

.custom-pagination .swiper-pagination-bullet {
  background-color: transparent;
  border: 1px solid var(--color-blue);
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 6px !important;
}

.nav-btn {
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-btn:hover {
  background-color: rgba(6, 182, 212, 0.1);
  box-shadow: 0 0 10px rgba(6, 182, 212, 0.4);
}

.nav-btn.swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
#sliderss .swiper-wrapper{
  transition-timing-function: linear !important;
}